#popup-container {
  width: 470px;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.popup {
  width: 470px;
  height: 60px;
  background: #fff;
  display: none;
}
.popup .left {
  position: relative;
  height: 60px;
  width: 60px;
  float: left;
}
.popup .left span:before {
  font-size: 40px;
  line-height: 60px;
  width: 60px;
  height: 60px;
  content: "";
  display: block;
  text-align: center;
  color: #FFF;
}
.popup .left .twitter:before {
  background: #4b9bd8 url("http://i.imgur.com/PHXvIp5.png") no-repeat 10px 10px;
}
.popup .left .beam:before {
  background: #0E0D15 url('img/beam.png') no-repeat 10px 10px;
  background-size:40px 40px;

}
.popup .left .github:before {
  background: #e6461a url("https://surl.im/i/2f2gp.png") no-repeat 10px 10px;
   background-size:40px 40px;
}

.popup .left .facebook:before {
  background: #3a5795 url("http://i.imgur.com/9YhFukZ.png") no-repeat 10px 10px;
}
.popup .left .instagram:before {
  background: #44749c url("http://i.imgur.com/kr9FPyC.png") no-repeat 10px 10px;
}
.popup .left .youtube:before {
  background: #ec2727 url("http://i.imgur.com/vHg5N2N.png") no-repeat 10px 10px;
}
.popup .left .website:before {
  background: #ff5a4d url("http://i.imgur.com/PHXvIp5.png") no-repeat 10px 10px;
}
.popup .left .paypal:before {
  background: #005082 url("http://i.imgur.com/DsR1o3X.png") no-repeat 10px 10px;
}
.popup .left .twitch:before {
  background: #6542a6 url("http://i.imgur.com/EwgNGbC.png") no-repeat 10px 10px;
}
.popup .left .tumblr:before {
  background: #324f6d url("http://i.imgur.com/lsWrWVj.png") no-repeat 10px 10px;
}
.popup .left .patreon:before {
  background: #e6461a url("http://i.imgur.com/6gguIF8.png") no-repeat 10px 10px;
}
.popup .left .snapchat:before {
  background: #fffc00 url("http://i.imgur.com/Crm9jjv.png") no-repeat 10px 10px;
}
.popup .left .steam:before {
  background: #000 url("http://i.imgur.com/vDrY0zW.png") no-repeat 10px 10px;
}
.popup .left .xbox:before {
  background: #117d10 url("http://i.imgur.com/ra0lHh8.png") no-repeat 10px 10px;
}
.popup .left .psn:before {
  background: #0b266b url("http://i.imgur.com/FEdMtZi.png") no-repeat 10px 10px;
}
.popup .left .origin:before {
  background: #f05a22 url("http://i.imgur.com/G8tKKxX.png") no-repeat 10px 10px;
}
.popup .left .uplay:before {
  background: #4891cb url("http://i.imgur.com/qSt1rCv.png") no-repeat 10px 10px;
}
.popup .right {
  position: relative;
  height: 60px;
  width: 400px;
  float: left;
  color: #101010;
  padding-left: 10px;
  font-size: 30px;
  line-height: 60px;
  white-space: nowrap;
  font-family: 'Montserrat';
  animation: popup-text 2s 1 ease-out;
  -webkit-animation: popup-text 2s 1 ease-out;
}
.popup .right span {
  white-space: nowrap;
}
@keyframes popup-text {
  0% {
    color: rgba(16, 16, 16, 0);
    text-indent: -10px;
  }
  40% {
    color: rgba(16, 16, 16, 0);
    text-indent: -10px;
  }
  50% {
    color: #101010;
    text-indent: 0px;
  }
  100% {
    color: #101010;
    text-indent: 0px;
  }
}
@-webkit-keyframes popup-text {
  0% {
    color: rgba(16, 16, 16, 0);
    text-indent: -10px;
  }
  40% {
    color: rgba(16, 16, 16, 0);
    text-indent: -10px;
  }
  50% {
    color: #161010;
    text-indent: 0px;
  }
  100% {
    color: #101010;
    text-indent: 0px;
  }
}
.show-popup {
  display: block;
  animation: popup 1s 1 ease-out;
  -webkit-animation: popup 1s 1 ease-out;
}

@keyframes popup {
  0% {
    width: 60px;
    margin-top: -10px;
    opacity: 0;
  }
  20% {
    width: 60px;
    margin-top: 0px;
    opacity: 1;
  }
  45% {
    width: 470px;
  }
  100% {
    width: 470px;
  }
}
@-webkit-keyframes popup {
  0% {
    width: 60px;
    margin-top: -10px;
    opacity: 0;
  }
  20% {
    width: 60px;
    margin-top: 0px;
    opacity: 1;
  }
  45% {
    width: 470px;
  }
  100% {
    width: 470px;
  }
}
.no-popup {
  display: none !important;
}
